      <div id="body-section">
          <h1 id="page-title">Call for papers</h1>
        <div class="region region-content">
          <div id="block-system-main" class="block block-system">
            <div class="content">
              <div id="node-1" class="node">
                <div class="content">
                  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even" property="content:encoded">
                          <h2>Call for papers</h2>
                          <p>Modern computer systems are increasing in scale, spread, and complexity.
                          The specifications of such systems cannot be made complete due to the
                          fact that the modification of systems has to be made continuously to meet users'
                          ever-changing requirements, hardware and communication systems
                          changes, to avoid attacks, and so forth. The modification of the
                          systems usually has to be performed while the services are being
                          provided. This workshop aims to foster discussions about new concepts,
                          processes, architectures and tools for Open Systems Dependability.
                          Ongoing researches are welcome to join this workshop.</p>
                      </div>
                    </div>
                  </div>  
                </div><!--/content -->
              </div>
            </div>
          </div>
        </div>
      </div><!--END BODY-SECTION-->
