      <div id="body-section">
          <h1 id="page-title">Important dates</h1>
        <div class="region region-content">
          <div id="block-system-main" class="block block-system">
            <div class="content">
              <div id="node-1" class="node">
                <div class="content">
                  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even" property="content:encoded">
                          <h2>Important dates</h2>
                          <table border="1">
                              <tbody>
                                  <tr>
                                      <td>Paper Submission Deadline:</td>
                                      <td>August 30th, 2013</td>
                                  </tr>
                                  <tr>
                                      <td>Paper Notification to Authors:</td>
                                      <td>September 16th, 2013</td>
                                  </tr>
                                  <tr>
                                      <td>Submission of camera-ready copy:</td>
                                      <td>October 1st, 2013 (tentative)</td>
                                  </tr>
                              </tbody>
                          </table>

                      </div>
                    </div>
                  </div>  
                </div><!--/content -->
              </div>
            </div>
          </div>
        </div>
      </div><!--END BODY-SECTION-->
