      <div id="body-section">
          <h1 id="page-title">The 3rd International Workshop on Open Systems Dependability: Adaptation to Changing World</h1>
        <div class="region region-content">
          <div id="block-system-main" class="block block-system">
            <div class="content">
              <div id="node-1" class="node">
                <div class="content">
                  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even" property="content:encoded">
                          <h2>Overview of WOSD</h2>
                          <p>Modern computer systems are increasing in scale, spread, and complexity.
                          The specifications of such systems cannot be made complete due to the fact that the modification of systems has to be made continuously to meet users' ever-changing requirements, hardware and communication systems changes, to avoid attacks, and so forth.
                          The modification of the systems usually has to be performed while the services are being provided.
                          In an open world, it is impossible to envisage such systems as closed systems, hence we need to take the view of open systems, which are changing all the time, and to establish new concepts, processes, architectures, and tools for Open Systems Dependability. Such systems need to adapt to both user requirements and environment changes in operation, open systems cannot be stopped!</p>
                          <p>This new workshop aims to foster discussions about new concepts, processes, architectures and tools for Open Systems Dependability. Ongoing researches are welcome to join this workshop. </p>

                          <p>The 2013 edition of WOSD is co-located with the 24th IEEE International Symposium on Software Reliability Engineering (ISSRE), and it will take place in Pasadena, CA, USA, in November 4-7.</p>

                          <h2 style="color:red">Update information</h2>
                          <ul>
                              <li>Jun 25, 2013: Update invited talks information.</li>
                              <li>Jun 13, 2013: Open our website. </li>
                          </ul>
                          <h2>Topics of Interest</h2>
                          <p>Areas of interest related to open systems dependability include but are not limited to: </p>
                          <ul> 
                              <li>Concepts for Open Systems Dependability</li>
                              <li>Processes for Open Systems Dependability</li>
                              <li>Architectures for Open Systems Dependability</li>
                              <li>Tools for Open Systems Dependability</li>
                              <li>Open Systems Dependability Metrics and Benchmarks</li>
                              <li>System Assurance for Open Systems</li>
                              <li>Monitoring for Open Systems Dependability</li>
                              <li>Software engineering for adaptive Open Systems</li>
                              <li>Requirements engineering for adaptive Open Systems</li>
                              <li>Timing issues wrt Open Systems Dependability</li>
                              <li>Policy Management for Open Systems Dependability</li>
                              <li>Lifecycle Management for Open Systems Dependability</li>
                          </ul>

                      </div>
                    </div>
                  </div>  
                </div><!--/content -->
              </div>
            </div>
          </div>
        </div>
      </div><!--END BODY-SECTION-->
