      <div id="body-section">
          <h1 id="page-title">Keynote and Invited talks</h1>
        <div class="region region-content">
          <div id="block-system-main" class="block block-system">
            <div class="content">
              <div id="node-1" class="node">
                <div class="content">
                  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even" property="content:encoded">
                          <table border="0">
                              <tbody>
                                  <th>
                                      <td>
                                          <h2>Keynote</h2>
                                      </td>
                                  </th>
                                  <tr>
                                      <td>
                                          <h2>Speaker</h2>
                                          <p>Robin Bloomfield, City University, London</p>
                                          <h2>Talk Title:</h2>
                                          <p>TBA</p>
                                          <h2>Abstract:</h2>
                                          <p>TBA</p>
                                      </td>
                                  </tr>
                                  <th>
                                      <td>
                                          <h2>Invited talk</h2>
                                      </td>
                                  </th>

                                  <tr>
                                      <td>
                                          <h2>Speaker</h2>
                                          <p>Ewen Denney, NASA, USA</p>
                                          <h2>Talk Title:</h2>
                                          <p>TBA</p>
                                          <h2>Abstract:</h2>
                                          <p>TBA</p>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>

                      </div>
                    </div>
                  </div>  
                </div><!--/content -->
              </div>
            </div>
          </div>
        </div>
      </div><!--END BODY-SECTION-->
