      <div id="body-section">
          <h1 id="page-title">Organizing Committees (under construction)</h1>
        <div class="region region-content">
          <div id="block-system-main" class="block block-system">
            <div class="content">
              <div id="node-1" class="node">
                <div class="content">
                  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even" property="content:encoded">

                          <p><b>General Co-Chair</b></p>
                          <ul>
                              <li><a href="http://www.mt.cs.keio.ac.jp/person/mario.html">Mario Tokoro</a> (Sony Computer Science Laboratories, Inc., Japan)</li>
                              <li>Robin Bloomfield (City University of London)</li>
                          </ul>

                          <p><b>Program Co-Chair</b></p> 
                          <ul>
                              <li>John Rushby (SRI International Computer Science Laboratory) </li>
                              <li>Kimio Kuramitsu (Yokohama National University) </li> 
                          </ul>

                          <p><b>Program Committee</b></p>
                          <ul>
