      <div id="body-section">
          <h1 id="page-title">Submissions</h1>
        <div class="region region-content">
          <div id="block-system-main" class="block block-system">
            <div class="content">
              <div id="node-1" class="node">
                <div class="content">
                  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even" property="content:encoded">
                        <h2>Submissions</h2>

                          <p>
                          Authors are invited to submit either short papers (2 pages) or full papers (6 pages), IEEE format. This should offer the greatest flexibility to present novel work/ideas at varying degrees of maturity.
                          </p>
                          <p>Papers must be written in English, and that papers will be reviewed.</p>
                          <p>Each paper must be submitted as a single Portable Document Format (PDF) file.
                          We recommend that you embed fonts where possible to improve portability.
                          We also strongly recommend you print the file and review it for integrity (fonts, symbols, equations etc.) before submitting it.
                          Submission of a paper constitutes a commitment that, if accepted, one or more authors will attend the workshop.
                          </p>
                          <p>Accepted papers will be published in a supplemental volume of the ISSRE conference proceedings by the IEEE Computer Society.</p>

                          <h2>Formatting Instructions</h2>
                          <p>
                          Submissions must adhere to the IEEE Computer Society camera-ready
                          8.5"x11" two-column camera-ready format. The templates are reproduced
                          below for your convenience, and further details can be found at
                          <a href="http://www.computer.org/portal/web/cscps/formatting">here</a>.
                          </p> 
                          <ul>
                              <li><a href="http://www.computer.org/portal/c/document_library/get_file?uuid=cda2f9b2-516f-43b8-ba8d-da91c0503dac&groupId=525773">LaTex Package (ZIP)</a></li>
                              <li><a href="http://www.computer.org/portal/c/document_library/get_file?uuid=4cc57ba2-393e-4a04-9551-3a45535c5198&groupId=525773">Word Template (ZIP)</a></li>
                          </ul>
                          <p>
                          <h2>Submission Site</h2>
                          <p>Please upload your paper from <a href="https://www.easychair.org/conferences/?conf=wosd2013">submission site</a>.</p>
                          <p>For any question, feel free to contact Hiroki Takamura (takamura AT dependable-os.net)</p>
 
                      </div>
                    </div>
                  </div>  
                </div><!--/content -->
              </div>
            </div>
          </div>
        </div>
      </div><!--END BODY-SECTION-->
